params {
    repo_url = '<repository-url>'
    output_dir = 'results'
}

process {
    withName: ProcessRepo {
        container = 'bitnami/git'
    }
    
    withName: RunAlmanack {
        container = 'python:3.11-slim'
    }
    
    withName: GenerateReport {
        container = 'ubuntu:jammy'
    }
}

workDir = 'work'

docker {
    enabled = true
    platform = 'linux/amd64'
}