params {
    output_dir = 'results'
    upload_to_synapse = false
    synapse_folder_id = null
    use_gpt = false
}

process {
    withName: ProcessRepo {
        container = 'bitnami/git:2.44.0'
    }
}

workDir = 'work'

docker {
    enabled = true
}

executor {
    cpus = 4
    memory = '16 GB'
}

profiles {
    tower {
        process.executor = 'awsbatch'
        docker.enabled = true
        workDir = 's3://mc2-project-tower-scratch/work'
        params.output_dir = 's3://mc2-project-tower-bucket/cc_toolkit/output'
        // Add any other cloud-specific settings here as needed
    }
}